/*.formContainer {
    border: 1px solid rgb(4, 68, 108);
    margin: 0 30%;
    background-color: rgb(227, 226, 225, .5);
}
*/

.entryForm {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}


.entryForm--left {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
}

.entryForm--right {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
}

.entryForm--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1.5rem;
}

label {
    font-family: Arial;
    color: navy;
    font-weight: bold;
}

.btn {
    margin: 1rem 1rem;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    background-color: rgb(4, 68, 108);
    color: white;
    font-weight: bold;
    border: none;
}