
.entryForm {
    display: flex;
    justify-content: center;
    border: 2px solid rgb(252, 140, 52);
    background-color: rgb(237, 237, 237, 0.8);
}

.entryForm--left {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
}

.entryForm--right {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
}

fieldset {
    border-color: rgb(252, 140, 52);
}

legend {
    font-family: Arial;
    font-weight: bold;
    color: navy;
}

.entryForm--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1.5rem;
}

@media screen and (max-width: 630px) {

    .entryForm {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid rgb(252, 140, 52);
        background-color: rgb(237, 237, 237, 0.8);
        padding-top: 5px;
    }

    .entryForm--left {
        display: flex;
        flex-direction: column;
        margin: 0rem;
        padding: 0rem;
    }

    .entryForm--right {
        display: flex;
        flex-direction: column;
        margin: 0rem;
        padding: 0rem;
    }

    .entryForm--item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 1rem;
        width: 100%;
    }
}

label {
    font-family: Arial;
    color: navy;
    font-weight: bold;
}

.btn {
    margin: 1rem 1rem;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    background-color: rgb(4, 68, 108);
    color: white;
    font-weight: bold;
    border: none;
}

