@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'form.css';
@import 'entryList.css';
@import 'footer.css';

/*Typography
-----------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", serif;
    letter-spacing: 2px;
}

#container {
    width: 90%;
    max-width: 1800px;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
}