@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*Typography
-----------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", serif;
    letter-spacing: 2px;
}


.entryForm {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    
}

.entryForm--left {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.entryForm--right {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}